* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
html,
body {
    height: 100%;
    width: 100%;
    background-color: #111;
}


/* #box{
    height: 100px;
    width: 100px;
    background-color: #ffffff;
    border-radius: 50%;
}

/* h1{
    color: azure;
} */




#h11{
    color: red;
}

#circle{
    height: 100px;
    width: 100px;
    background-color: lightseagreen;
    border-radius: 50%;
}