* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
html,
body {
  height: 100%;
  width: 100%;
}

body{
  background-color: black;
}

.card{
  height: 400px;
  width: 400px;
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
  margin: 20px;
}

.upper{
  height: 50%;
  width: 100%;
}

.upper img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: top;
}

.lower{
  height: 50%;
  width: 100%;
  padding: 20px;
}

.lower h2{
  color: rgb(33, 87, 89);
  font-size: 45px;
}

.lower h4{
  font-size: 18px;
  font-weight: 500;
  color: #888;
}

.lower h3{
  font-size: 30px;
  color: rgb(33, 87, 89);
  margin-top: 30px;
}